.special-debug
    background: #fff !important
    overflow: scroll !important

    [role=row]
        display: table-row
    [role=gridcell]
        display: table-cell
    [role=grid]
        display: table

    *
        position: static !important
        width: auto !important
        max-width: initial !important
        height: auto !important
        float: none !important
        background: none !important
        color: #444 !important
        padding: 0 !important
        transform: none !important
        border: 0 !important
        opacity: 1 !important
        font-size: 12px !important
        box-shadow: none !important
        text-shadow: none !important
        border-radius: 0 !important
        margin: 0 !important

    h1, h2, h3, h4, h5, h6
        position: relative !important
        padding-left: 22px !important
        &:after
            content: 'h1'
            position: absolute
            left: 0
            top: 0
            background: #fff
            border: 1px solid #ddd
            border-radius: 10px
            line-height: 1
            padding: 4px
            font-size: 10px
        *
            font-size: inherit !important

    h1
        font-size: 22px !important
    h2
        font-size: 18px !important
        &:after
            content: 'h2'
    h3
        font-size: 14px !important
        &:after
            content: 'h3'
    h4, h5, h6
        font-size: 14px !important
        opacity: 0.8 !important
        &:after
            content: 'h4'
    h5
        &:after
            content: 'h5'
    h6
        &:after
            content: 'h6'

    img
        max-width: 100px !important

    textarea, input, select, button, a[role=button]
        border: 1px solid #aaa !important
        padding: 5px !important
        &:focus
            border-color: #28DCB4 !important

    textarea, input[type='text'], input[type='password'], input[type='email'], select
        width: 100% !important

    a[href]
        color: #239 !important
        margin-right: 5px !important
        *
            color: #239 !important
        &:hover, &:focus
            text-decoration: underline
        &:focus
            outline: 1px solid #aaa

    a[title], button[title]
        &:before
            content: attr(title) !important
            color: #aaa !important

    [role=region],
    [role=contentinfo],
    [role=navigation],
    [role=complementary],
    [role=list],
    [role=main]
        outline: 1px solid #600 !important
        padding-top: 5px !important
        margin: 10px !important

        &:before
            content: attr(aria-label) !important
            line-height: 100%
            overflow: visible
            display: block !important
            color: #800
            clear: both

    [role=main]:before
        content: "<MAIN>" !important

    [role=list]:before
        content: "<LIST>" !important

    [role=navigation]:before
        position: absolute
        color: #f99
    [aria-hidden=true]
        display: none !important
    .special-hidden
        color: #600
        left: 0

.toggle-special-debug
    position: fixed !important
    top: 10px
    right: 10px
    z-index: 10000
    background: #fff !important

