.special-debug {
  background: #fff !important;
  overflow: scroll !important; }
  .special-debug [role=row] {
    display: table-row;
    border-collapse: collapse; }
  .special-debug [role=gridcell] {
    display: table-cell; }
  .special-debug [role=grid] {
    display: table;
    padding: 2px !important;
    border: 1px solid #ddd; }
  .special-debug * {
    position: static !important;
    width: auto !important;
    max-width: initial !important;
    max-height: initial !important;
    height: auto !important;
    float: none !important;
    background: none !important;
    color: #444 !important;
    padding: 0 !important;
    transform: none !important;
    border: 0 !important;
    opacity: 1 !important;
    font-size: 12px !important;
    box-shadow: none !important;
    text-shadow: none !important;
    border-radius: 0 !important;
    margin: 0 !important;
    text-indent: 0 !important;
    text-align: left !important; }
  .special-debug h1, .special-debug h2, .special-debug h3, .special-debug h4, .special-debug h5, .special-debug h6 {
    position: relative !important;
    padding-left: 22px !important; }
    .special-debug h1:after, .special-debug h2:after, .special-debug h3:after, .special-debug h4:after, .special-debug h5:after, .special-debug h6:after {
      content: "h1";
      position: absolute;
      left: 0;
      top: 0;
      background: #fff;
      border: 1px solid #ddd;
      border-radius: 10px;
      line-height: 1;
      padding: 4px;
      font-size: 10px; }
    .special-debug h1 *, .special-debug h2 *, .special-debug h3 *, .special-debug h4 *, .special-debug h5 *, .special-debug h6 * {
      font-size: inherit !important; }
  .special-debug ul > li {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4AMMEAALXBIOsgAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAAAuSURBVAjXXcu5CQAgAACx+AzjOoJbuJrghIKF2pjy4AIKqmNmNPQbUvTJGFhv2XaCBE7jBI7dAAAAAElFTkSuQmCC") no-repeat 0 5px !important;
    padding-left: 7px !important; }
  .special-debug h1 {
    font-size: 22px !important; }
  .special-debug h2 {
    font-size: 18px !important; }
    .special-debug h2:after {
      content: "h2"; }
  .special-debug h3 {
    font-size: 14px !important; }
    .special-debug h3:after {
      content: "h3"; }
  .special-debug h4, .special-debug h5, .special-debug h6 {
    font-size: 14px !important;
    opacity: 0.8 !important; }
    .special-debug h4:after, .special-debug h5:after, .special-debug h6:after {
      content: "h4"; }
  .special-debug h5:after {
    content: "h5"; }
  .special-debug h6:after {
    content: "h6"; }
  .special-debug img {
    max-width: 100px !important; }
  .special-debug textarea, .special-debug input, .special-debug select, .special-debug button, .special-debug a[role=button] {
    border: 1px solid #aaa !important;
    padding: 5px !important; }
    .special-debug textarea:focus, .special-debug input:focus, .special-debug select:focus, .special-debug button:focus, .special-debug a[role=button]:focus {
      border-color: #28DCB4 !important; }
  .special-debug textarea, .special-debug input[type='text'], .special-debug input[type='password'], .special-debug input[type='email'], .special-debug select {
    width: 100% !important; }
  .special-debug a[href] {
    color: #239 !important;
    margin-right: 5px !important; }
    .special-debug a[href] * {
      color: #239 !important; }
    .special-debug a[href]:hover, .special-debug a[href]:focus {
      text-decoration: underline; }
    .special-debug a[href]:focus {
      outline: 1px solid #aaa; }
  .special-debug a[title]:before, .special-debug button[title]:before, .special-debug *[role=button][title]:before, .special-debug *[tabindex="0"][title]:before {
    content: attr(title) !important;
    color: #aaa !important; }
  .special-debug a[aria-label]:before, .special-debug button[aria-label]:before, .special-debug *[role=button][aria-label]:before, .special-debug *[tabindex="0"][aria-label]:before {
    content: attr(aria-label) !important;
    color: #aad !important; }
  .special-debug [role=region],
  .special-debug [role=contentinfo],
  .special-debug [role=navigation],
  .special-debug [role=complementary],
  .special-debug [role=list],
  .special-debug [role=main] {
    outline: 1px solid #600 !important;
    padding-top: 5px !important;
    margin: 10px !important; }
    .special-debug [role=region]:before,
    .special-debug [role=contentinfo]:before,
    .special-debug [role=navigation]:before,
    .special-debug [role=complementary]:before,
    .special-debug [role=list]:before,
    .special-debug [role=main]:before {
      content: attr(aria-label) !important;
      line-height: 100%;
      overflow: visible;
      display: block !important;
      color: #800;
      clear: both; }
  .special-debug [role=main]:before {
    content: "<MAIN>" !important; }
  .special-debug [role=list]:before {
    content: "<LIST>" !important; }
  .special-debug [role=navigation]:before {
    position: absolute;
    color: #f99; }
  .special-debug [aria-hidden=true] {
    display: none !important; }
  .special-debug .special-hidden {
    color: #600;
    left: 0; }

.toggle-special-debug {
  position: fixed !important;
  top: 10px;
  right: 10px;
  z-index: 10000;
  background: #fff !important; }
